{% extends 'base.html' %}

{% block body %}

<body>
    <div class="container">
    {{ current_user.full_name_for_path() }}
    <a href="{{ current_user.dropbox_file_upload_url }}">File Upload Link</a>

    <div id="dropbox-embedder" style="min-height: 500px;"></div>
    </div>
</body>
{% endblock %}


{% block script %}
<script>
    /**
     * Load the dropbox visuals for Member to see the files and folders 
     *  that they have submitted thus far. For documentation about 
     *  the embedder: https://www.dropbox.com/developers/embedder 
     *  
     */
    const embedEmbedder = (destinationElementId, url) => {
        let element = document.getElementById(destinationElementId);
        Dropbox.embed({ link: url }, element)
    }

    // wait for page to load before executing javascript
    $(document).ready(() => {
        let memberDropboxFolderURL = "{{ current_user.dropbox_shared_folder_url }}"

        embedEmbedder("dropbox-embedder", memberDropboxFolderURL)
    })
</script>
{% endblock %}