{% extends 'base.html' %}
{% from "form_macros.html" import render_field %}

{% block body %}

<body class="section-bg" data-spy="scroll" data-target="#navbar-profile-control" data-offset="50">
    <main>
        <section id="profile-intro" class="section-bg">
            <div class="container-sm">
                <a href="/profile">
                <div class="section-title">
                    <h2>Profile Management</h2>
                </div>
                </a>
                <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
                <div class="profile-list">
                    <a data-toggle="collapse" href="#message" aria-expanded="true">Message from the developer (click to
                        collapse)
                        <i class="bx bx-down-arrow-alt icon-show"></i>
                        <i class="bx bx-x icon-close"></i>
                    </a>
                    <div id="message" class="collapse show" data-parent=".profile-list">
                        <p>Hi {{ current_user.first_name }}!</p>
                        <p>Welcome to your Profile Management studio. Here you can view your options for submitting
                            files and documents to us for our project. You can also choose to edit the information you
                            submitted when you filled out this form, and change
                            privacy settings that you may have filled out when you initially signed up.</p>
                        <p>I built this tool over the span of a week for this project on behalf of the STS.050 class. I
                            am by no means perfect, so you will probably find bugs on the website. If something does not
                            operate the way you believe it should, please
                            reach out to me at <span><a class="email-link"
                                    href="mailto:dangonzo@mit.edu?subject=Issue%2FQuestion%20Re%3A%20MIT%20Endurance&body=Hi%20Gonzo%2C%0A%0AI'm%20experiencing%20ISSUE%20%2F%20I%20have%20FEEDBACK%0A%0ABest%2C%0A%0A{{ current_user.full_name() }}">dangonzo@mit.edu</a></span>.
                            If you think there is a feature that should exist that currently isn't here, or just have
                            general feedback, please do let me know!</p>
                        <p>Wishing you the best in these crazy times,</p>
                        <p>Daniel " Gonzo"
                            Gonzalez '20</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="profile-control" class="container-lg">
            <div class="row">
                <div class="col-3">
                    <nav id="navbar-profile-control" class="navbar navbar-light"
                        style="position: -webkit-sticky; position: sticky; top: 10px;">
                        <h2><a class="navbar-brand" href="#">Table of Contents</a></h2>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link" href="#submission-methods">Submission Methods</a>
                            <nav class="nav nav-pills flex-column">
                                <a class="nav-link ml-3 my-1" href="#submission-methods-dropbox">Dropbox Option</a>
                                <a class="nav-link ml-3 my-1" href="#submission-methods-snailmail">Snailmail Option</a>
                                <a class="nav-link ml-3 my-1" href="#submission-methods-email">Email Option</a>
                            </nav>
                            <a class="nav-link" href="#dropbox-info">Dropbox</a>
                            <nav class="nav nav-pills flex-column">
                                <a class="nav-link ml-3 my-1" href="#dropbox-info-filerequest">File Request Link</a>
                                <a class="nav-link ml-3 my-1" href="#dropbox-info-preview">View Submitted Files</a>
                            </nav>
                            <a class="nav-link" href="#edit-information">Edit Profile</a>
                        </nav>
                    </nav>
                </div>

                <div class="col-9">
                    <!-- ###### SUBMISSION METHODS SECTION ######  -->
                    <section id="submission-methods">
                        <div>
                            <!-- <div class="section-title"> -->
                            <h2>Submission Methods</h2>
                            <!-- </div> -->
                            <p>We support three options for submitting files and content to us, they are outlined
                                below,
                                with instructions and guidelines for each. While we prefer submissions to be
                                uploaded
                                through the Dropbox interface (which you can find
                                by clicking on the "Dropbox" tab above) we allow for this flexibility to reduce any
                                potential barriers of access.</p>
                            <div class="card" id="submission-methods-dropbox">
                                <div class="card-header align-middle">
                                    <i class="fab fa-dropbox" style="font-size: larger;" aria-label="Dropbox Icon"></i>
                                    Dropbox File Request <span class="badge badge-pill badge-success" style="float: right;">preferred option</span>
                                </div>
                                <div class="card-body">
                                    {# <h5 class="card-title">Overview</h5> #}
                                    <p class="card-text">
                                        When you signed up we created a file request link unique to you. With this 
                                        link, you can upload any type of file you want for us to view/use. Only 
                                        you and those in charge of this project will be able to view the files here. 
                                        To learn more about the Dropbox submission method, click the following button:
                                    </p>
                                    <a href="#dropbox-info" class="btn btn-primary">Go to Dropbox section</a>
                                </div>
                            </div>
                            <div class="card" id="submission-methods-snailmail">
                                <div class="card-header align-middle">
                                    <scan role="image" aria-label="mailbox" style="font-size: larger;">📬</scan>
                                    Snail Mail
                                    <span class="badge badge-pill badge-warning" style="float: right;">best alternative</span>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Overview</h5>
                                    <p class="card-text">Yes, we support folks mailing in their letters and whatever
                                        else! We understand that people might wish to be anonymous in their
                                        contributions, or that using websites like these might be more of a headache
                                        than is necessary, so if you would like to mail us anything, please send it to
                                        the following address.</p>
                                    <address>
                                        <b>Endurance Project</b>
                                        <br>
                                        MIT Museum, N51-2nd floor
                                        <br>
                                        265 Massachusetts Ave
                                        <br>
                                        Cambridge, MA 02139
                                    </address>
                                </div>
                            </div>
                            <div class="card" id="submission-methods-email">
                                <div class="card-header">
                                    <scan role="image" aria-label="mailbox" style="font-size: larger;">📧</scan>
                                    Email
                                    <span class="badge badge-pill badge-danger" style="float: right;">least
                                        preferred</span>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        In case our Dropbox solution is not working for you, you may email files 
                                        directly to us at <a href="mailto:mitendurance@gmail.com">mitendurance@gmail.com</a> 
                                        and we can upload the files for you. Please don't resort to this as a default, because
                                        we created this website as a means of avoiding this method in the first place. That being
                                        said, accessibility and other factors are of course important, so if this is the most 
                                        convenient accessible method for you, we're more than happy to work with you!</p>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- ###### DROPBOX INFORMATION SECTION ###### -->
                    <section id="dropbox-info">
                        <div>
                            <div class="section-title">
                                <h2>Dropbox</h2>
                            </div>
                            <p>
                                For those unfamiliar, <a href="https://dropbox.com" target="_none" rel="noopener">Dropbox</a> is a 
                                file hosting service (founded by MIT alumni Drew Houston!) that makes it really easy to store and 
                                distribute files. <b>Due to it's ease-of-use, we have decided to use Dropbox for this project to 
                                collect and store your files</b>. Just after this you can find your custom link to a Dropbox File
                                Request form that will allow you to upload files up to 20GB. Following that, you can preview the 
                                files you've uploaded to the Dropbox.
                            </p>

                            <h4><u>Dropbox File Upload Link</u></h4>
                            <p>
                                The following link will take you to Dropbox and provide you with two options to upload files:
                                <ul>
                                    <li><b>"Choose from Computer"</b> - if selected, a system dialog will appear allowing you to 
                                        choose and select any files to upload.</li>
                                    <li><b>"Choose from Dropbox"</b> - if you have a Dropbox account and are signed in and wish 
                                        to upload files directly from the Dropbox application, you can select this option and you
                                        will be able to navigate your Dropbox files and choose what to upload. <em>Note: you must
                                        be signed in to Dropbox to do this!</em></li>
                                </ul>
                                <a class="btn btn-lrg btn-primary dropbox" href="{{ current_user.dropbox_file_upload_url }}" target="_none" rel="noopener">
                                    <i class="fab fa-dropbox fa-lg" aria-label="Dropbox Icon"></i>
                                    <strong>Dropbox File Upload Link</strong>
                                </a>
                            </p>


                            <h4><u>Dropbox Preview</u></h4>
                            <div id="dropbox-info-preview">
                                <!-- where dropbox will embed the folder preview -->
                                <div id="dropbox-embedder"></div>
                            </div>
                        </div>
                    </section>

                    <!-- ###### UPDATE PROFILE INFORMATION ###### -->
                    <section id="edit-information">
                        <div class="section-title">
                            <h2>Update Settings</h2>
                        </div>
                        <p>Below you can find the information that we have for you from your sign up form.</p>
                        <form method="post" role="form" class="needs-validation">
                            {{ form.csrf_token }}
                            {{ form.hidden_tag() }}

                            {% if form.csrf_token.errors %}
                            <div class="warning">You have submitted an invalid CSRF token</div>
                            {% endif %}

                            {% for field in form.errors %}
                            {% for error in form.errors[field] %}
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>{{ field }} error!</strong> {{error}}
                            </div>
                            {% endfor %}
                            {% endfor %}

                            <div class="form-row">
                                <div class="form-group col-sm-8 col-md-5" autocomplete="given-name">
                                    {{ render_field(form.first_name) }}
                                </div>
                                <div class="form-group col-sm-4 col-md-2">
                                    {{ render_field(form.initials) }}
                                </div>
                                <div class="form-group col-sm-12 col-md-5" autocomplete="family-name">
                                    {{ render_field(form.last_name) }}
                                </div>
                            </div>
                            <div class="form-group" autocomplete="email">
                                {{ render_field(form.email) }}
                            </div>

                            <div class="form-row">
                                <div class="form-group col-lg-6">
                                    {{ render_field(form.affiliation) }}
                                </div>
                                <div class="form-group col-lg-3 mit-specific">
                                    {{ render_field(form.class_year) }}
                                </div>
                            </div>
                            <div>
                                <p>Right now changing Majors/Minors is unavailable. If you want something changed, let us know.</p>
                                
                                <p></>
                                {% if current_user.major %}
                                    <label>Major(s)</label>
                                    <ol>
                                        {% for major in current_user.major %}
                                            <li>{{ major.name }}</li>
                                        {% endfor %}
                                    </ol>
                                {% endif %}
                                {% if current_user.minor %}
                                    <label>Minor(s)</label>
                                    <ol>
                                        {% for minor in current_user.minor %}
                                            <li>{{ minor.name }}</li>
                                        {% endfor %}
                                    </ol>
                                {% endif %}

                            </div>
                            {# <div class="form-group mit-specific">
                                {{ render_field(form.major) }}
                            </div>
                            <div class="form-group mit-specific">
                                {{ render_field(form.minor) }}
                            </div> #}
                            <div class="form-group mit-specific">
                                {{ render_field(form.lg) }}
                            </div>
                            <div class="form-group mit-specific">
                                <div class="counter">
                                    <p class="value" id="activities_counter"></p>
                                </div>
                                {{ render_field(form.activities) }}
                            </div>
                            <div class="form-group">
                                <div class="counter">
                                    <p class="value" id="bio_counter"></p>
                                </div>
                                {{ render_field(form.bio) }}
                            </div>

                            <div class="section-title">
                                <h2>Data Use Permissions</h2>
                                <p>Pay attention below. This is where you tell us what we can/can't make public.</p>
                            </div>
                            <p>We hope to use this submissions for a wide variety of multi-media presentations,
                                please
                                check each box below representing whether you're okay with us using this information
                                or
                                not.</p>
                            <ul>
                                <li class="form-group form-check">
                                    {{ render_field(form.name_ok) }}
                                </li>
                                <div id="mit-status-check">
                                    <li class="form-group form-check mit-specific">
                                        {{ render_field(form.class_year_ok) }}
                                    </li>
                                    <li class="form-group form-check mit-specific">
                                        {{ render_field(form.major_ok) }}
                                    </li>
                                    <li class="form-group form-check mit-specific">
                                        {{ render_field(form.minor_ok) }}
                                    </li>
                                    <li class="form-group form-check mit-specific">
                                        {{ render_field(form.lg_ok)}}
                                    </li>
                                    <li class="form-group form-check">
                                        {{ render_field(form.activities_ok) }}
                                    </li>
                                    <li class="form-group form-check">
                                        {{ render_field(form.bio_ok) }}
                                    </li>
                                </div>
                            </ul>
                            <input type="submit" value="Update Settings" class="btn btn-success">
                        </form>
                    </section>
                </div>
            </div>
        </section>
    </main>
</body>
{% endblock %}


{% block script %}
<script>

    /**
     * Show/hide fields on the form depending on whether the person filling the form
     *  out is a student or an alumni
     * 
     */
    const watchAffiliationField = () => {
        let affiliation = $('#affiliation');

        if (affiliation.val() === "Other (Faculty, Staff, Community Member, etc.)") {
            $('.mit-specific').hide()

            // THIS IS REALLY IMPORTANT, IF WE DON'T SET TO NULL AND SOMEONE SPECIFIES
            // A CLASS YEAR AND THEN CHANGES THEIR STATUS TO OTHER, THEN WE WILL PUT THERE
            // FILES SOMEWHERE AS IF THEY ARE A CLASS YEAR!
            $('#class_year').val(1861);
        }

        affiliation.change(() => {
            if (affiliation.val() === "Student or Alumni") {
                $('.mit-specific').show()
            } else {
                $('.mit-specific').hide()

                // THIS IS REALLY IMPORTANT, IF WE DON'T SET TO NULL AND SOMEONE SPECIFIES
                // A CLASS YEAR AND THEN CHANGES THEIR STATUS TO OTHER, THEN WE WILL PUT THERE
                // FILES SOMEWHERE AS IF THEY ARE A CLASS YEAR!
                $('#class_year').val(1861);
            }
        })
    }

    /**
    * Load the dropbox visuals for Member to see the files and folders 
    *  that they have submitted thus far. For documentation about 
    *  the embedder: https://www.dropbox.com/developers/embedder 
    *  
    */
    const embedEmbedder = (destinationElementId, url) => {
        let element = document.getElementById(destinationElementId);
        Dropbox.embed({ link: url }, element)
    }

    const activateChosen = () => {
        $('#major').chosen();
        $('#minor').chosen();
    }

    const disableEmail = () => {
        $('#email').attr("disabled", "disabled");
    }

    $(document).ready(() => {
        disableEmail();
        watchAffiliationField();
        activateChosen();
        counter("#activities");
        counter("#bio");
        embedEmbedder("dropbox-embedder", "{{ current_user.dropbox_shared_folder_url }}")
    })
</script>
{% endblock %}