{% extends 'base.html' %}
{% from "form_macros.html" import render_field %}

{% block body %}

<body>
    <div class="container-md" style="margin-top: 60px;">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <h2>Endurance Signup Form</h2>
            <p>Please note, you will be able to edit your responses here later, so if you make a mistake while submitting, don't fret!</p>
            <form method="post" role="form" class="needs-validation">
                {{ form.csrf_token }}
                {{ form.hidden_tag() }}

                {% if form.csrf_token.errors %}
                <div class="warning">You have submitted an invalid CSRF token</div>
                {% endif %}

                {% for field in form.errors %}
                {% for error in form.errors[field] %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>{{ field }} error!</strong> {{error}}
                </div>
                {% endfor %}
                {% endfor %}

                <div class="form-row">
                    <div class="form-group col-sm-8 col-md-5" autocomplete="given-name">
                        {{ render_field(form.first_name) }}
                    </div>
                    <div class="form-group col-sm-4 col-md-2">
                        {{ render_field(form.initials) }}
                    </div>
                    <div class="form-group col-sm-12 col-md-5" autocomplete="family-name">
                        {{ render_field(form.last_name) }}
                    </div>
                </div>
                <div class="form-group" autocomplete="email">
                    {{ render_field(form.email) }}
                </div>


                <div class="form-row">
                    <div class="form-group col-lg-6">
                        {{ render_field(form.affiliation) }}
                    </div>
                    <div class="form-group col-lg-3 mit-specific">
                        {{ render_field(form.class_year) }}
                    </div>
                </div>
                <div class="form-group mit-specific">
                    {{ render_field(form.major) }}
                </div>
                <div class="form-group mit-specific">
                    {{ render_field(form.minor) }}
                </div>
                <div class="form-group mit-specific">
                    {{ render_field(form.lg) }}
                </div>
                <div class="form-group mit-specific">
                    {{ render_field(form.activities) }}
                </div>
                <div class="form-group">
                    {{ render_field(form.bio) }}
                </div>

                <h2>Data Use Permissions</h2>
                <p>We hope to use this submissions for a wide variety of multi-media presentations, please check each
                    box below representing whether you're okay with us using this information or not.</p>
                <ul>
                    <li class="form-group form-check">
                        {{ render_field(form.name_ok) }}
                    </li>
                    <div id="mit-status-check">
                        <li class="form-group form-check mit-specific">
                            {{ render_field(form.class_year_ok) }}
                        </li>
                        <li class="form-group form-check mit-specific">
                            {{ render_field(form.major_ok) }}
                        </li>
                        <li class="form-group form-check mit-specific">
                            {{ render_field(form.minor_ok) }}
                        </li>
                        <li class="form-group form-check mit-specific">
                            {{ render_field(form.lg_ok)}}
                        </li>
                        <li class="form-group form-check">
                            {{ render_field(form.activities_ok) }}
                        </li>
                        <li class="form-group form-check">
                            {{ render_field(form.bio_ok) }}
                        </li>
                    </div>
                </ul>
                <input type="submit" value="Sign Up" class="btn btn-primary">
            </form>
        </div>
    </div>
</body>
{% endblock %}

{% block script %}
<script>

    /**
     * Show/hide fields on the form depending on whether the person filling the form
     *  out is a student or an alumni
     * 
     */
    const watchAffiliationField = () => {
        let affiliation = $('#affiliation');
        affiliation.change(() => {
            if (affiliation.val() === "Student or Alumni") {
                $('.mit-specific').show()
            } else {
                $('.mit-specific').hide()

                // THIS IS REALLY IMPORTANT, IF WE DON'T SET TO NULL AND SOMEONE SPECIFIES
                // A CLASS YEAR AND THEN CHANGES THEIR STATUS TO OTHER, THEN WE WILL PUT THERE
                // FILES SOMEWHERE AS IF THEY ARE A CLASS YEAR!
                $('#class_year').val(1861);
            }
        })
    }

    const activateChosen = () => {
        $('#major').chosen();
        $('#minor').chosen();
    }

    $(document).ready(() => {
        watchAffiliationField()
        activateChosen()
    })
</script>
{% endblock %}